<%- contentFor('title') %>
  فراموشی گذرواژه
    <%- contentFor('body') %>
        <div class="contain py-16 rtl">
            <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
                <% if(messages.length > 0){%>
                    <div class="flex flex-col items-end text-red-500 bg-red-100 px-2 py-3 mb-3">
                            <% messages.forEach(err=> {%>
                                <p class="rtl bg-red-500 text-red-100"> <%- err %> </p>
                            <%}) %>
                    </div>
    
                <%} %>
                
                
                <% if(suucessMessage.length>0){%>
                    <p class="rtl bg-green-300 text-green-500 text-start p-3 mb-2"><%-  suucessMessage[0] %></p>
                <%} %>
                <h2 class="text-2xl uppercase font-medium mb-1">فراموشی گذرواژه</h2>

                <form action="/auth/send/reset/password" method="post" autocomplete="off">
                    <div class="space-y-2">
                        <div>
                            <label for="email" class="text-gray-600 mb-2 block">ایمیل</label>
                            <input type="email" value="alirezaahmadi000216@gmail.com" name="email" id="email"
                                class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                                placeholder="youremail.@domain.com">
                        </div>

                    </div>

                    <div class="mt-4">
                        <button type="submit"
                            class="block w-full py-2 text-center text-red-500 bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">بررسی</button>
                    </div>
                </form>



            </div>
        </div>