@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .inputForm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .rtl{
      direction: rtl; 
      text-align: right;
    }

    .bg-red{
      background-color: #f73c55;
    }

}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }